<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>員工考勤管理系統</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1>員工考勤管理系統</h1>
      <p>請點擊所需頁面：</p>
      <a class="btn btn-info m-2" href="http://127.0.0.1:5000/employees"
        >員工資料</a
      >
      <a class="btn btn-info m-2" href="http://127.0.0.1:5000/records"
        >員工考勤紀錄</a
      >
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
